@media only screen {
  .talk-image {
    width: 100%;
  }
  .post-image {
    width: 100%;
  }
  .center-screenshot {
    width: 75%;
    margin: auto;
  }
  header.masthead .site-heading {
    background-image: url("/img/pineapple_background.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 575px) {
  .talk-image {
    width: 510px;
  }
  .post-image {
    width: 510px;
  }
  .center-screenshot {
    width: 400px;
    margin: auto;
  }
  header.masthead .site-heading {
    background-image: url("/img/pineapple_background_510w.png");
  }
}

@media only screen and (min-width: 768px) {
  .talk-image {
    width: 570px;
  }
  .post-image {
    width: 670px;
  }
  .center-screenshot {
    width: 400px;
    margin: auto;
  }
  header.masthead .site-heading {
    background-image: url("/img/pineapple_background_690w.png");
  }
}

@media only screen and (min-width: 992px) {
  .talk-image {
    width: 609px;
  }
  .post-image {
    width: 750px;
  }
  .center-screenshot {
    width: 450px;
    margin: auto;
  }
  header.masthead .site-heading {
    background-image: url("/img/pineapple_background_770w.png");
  }
}

@media only screen and (min-width: 1200px) {
  .talk-image {
    width: 730px;
  }
  .post-image {
    width: 900px;
  }
  .center-screenshot {
    width: 500px;
    margin: auto;
  }
  header.masthead .site-heading {
    background-image: url("/img/pineapple_background_950w.png");
  }
}

.post-device-screenshot {
  max-width: 100%;
}

.post-emulator-recording {
  max-width: 100%;
}

.post-icon {
  width: 200px;
  margin: auto;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.post .post-meta {
  margin: 0px;
}

.post-excerpt {
  margin: 10px 0px;
}

.bnr-content {
  display: flex;
}

.bnr-content .bnr-image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnr-text-content {
  display: flex;
  flex-direction: column;
}

.bnr-text-content .post-meta {
  margin-bottom: 0;
}

.bnr-hat {
  width: 133px;
  height: 73px;
  margin-right: 40px;
}

header.masthead {
  background-color: #ffffff00;
}

header.masthead .overlay {
  background-color: #ffffff00;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 20px;
  color: #000000;
}

.gist .blob-code-inner {
  font-size: 16px !important;
}
