@media only screen {
  .talk-image {
    width: 100%;
  }
  .post-image {
    width: 100%;
  }
}

@media only screen and (min-width: 575px) {
  .talk-image {
    width: 510px;
  }
  .post-image {
    width: 510px;
  }
}

@media only screen and (min-width: 768px) {
  .talk-image {
    width: 570px;
  }
  .post-image {
    width: 570px;
  }
}

@media only screen and (min-width: 992px) {
  .talk-image {
    width: 609px;
  }
  .post-image {
    width: 609px;
  }
}

@media only screen and (min-width: 1200px) {
  .talk-image {
    width: 730px;
  }
  .post-image {
    width: 730px;
  }
}

.bnr-content {
  display: flex;
}

.bnr-content .bnr-image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bnr-text-content {
  display: flex;
  flex-direction: column;
}

.bnr-text-content .post-title {
  margin-bottom: 0;
}

.bnr-text-content .post-meta {
  margin-bottom: 0;
}

.bnr-hat {
  width: 133px;
  height: 73px;
  margin-right: 40px;
}
