<!-- Meta tags for the Twitter cards -->
<meta name="twitter:site" content="@briangardnerdev" />
<meta name="twitter:creator" content="@briangardnerdev" />
{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% else %}
<meta name="twitter:title" content="{{ site.title }}" />
{% endif %} {% if page.url %}
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
{% endif %} {% if page.post-excerpt %}
<meta name="twitter:description" content="{{ page.post-excerpt }}" />
{% else %}
<meta name="twitter:description" content="{{ site.description }}" />
{% endif %} {% if page.header %}
<meta name="twitter:image:src" content="{{ site.url}}{{ page.header }}" />
<meta name="twitter:card" content="summary_large_image" />
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}

<!-- Meta tags for Facebook/LinkedIn cards-->
{% if page.header %}
<meta property="og:image" content="{{ page.header }}" />
{% endif %}
<meta content="{{ site.title }}" property="og:site_name" />
<meta name="title" content="{{ page.title }}" property="og:title" />
<meta content="article" property="og:type" />
<meta
  content="{{ page.post-excerpt }}"
  property="og:description"
  name="description"
/>
<meta content="{{ site.url }}{{ page.url }}" property="og:url" />
<meta
  content="{{ page.date | date_to_xmlschema }}"
  property="article:published_time"
/>
<meta name="author" content="Brian Gardner" />
